<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>
	 <style>
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
    .StripeElement {
      box-sizing: border-box;
      width: 30%;
      height: 40px;

      padding: 10px 12px;

      border: 1px solid transparent;
      border-radius: 4px;
      background-color: white;

      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }
  </style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
	{{#each css}}
	<link rel="stylesheet" href="/css/{{this}}">
	{{/each}}
	{{!-- {{#each bootstrapCss}}
	<link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/{{this}}">
	{{/each}}
	{{#each bootstrapJs}}
	<script src="/bootstrap-4.4.1-dist/js/{{this}}"></script>
	{{/each}} --}}
	<script src="https://kit.fontawesome.com/bf52ac46e9.js" crossorigin="anonymous"></script>
</head>

<body>

	{{{body}}}
  <div id="donateStart"></div>
  <div id="donate"></div>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>
    $('#btn').on('click', function () {
      // Fire a request to get a template
      $.get('http://localhost:8080/donation', function (view) {
        $('#donateStart').html(view)
      });
    })

    $('#donateForm').submit(function (event) {
      event.preventDefault()
      const name = $('#name').val();
      const email = $('#email').val();
      const amount = $('#amount').val();

      const donateForm = {
        name,
        email,
        amount
      }      
      $.post('http://localhost:8080/donateForm', donateForm)
        .done(function (view) {
          $('#donate').html(view);
        const stripe = Stripe('pk_test_51GsdgsG1LfhiyqPCRpEnkx744VjmGjlnmRHp1bQ8RzNWPYy7Iz1uo5kZK7eZ12uCi8BKniW6czXXT72pSEmfitnm00Q6VSQhrr');
          const elements = stripe.elements();
          const card = elements.create('card');
          card.mount('#card-element');

          const cardholderName = document.getElementById('cardholder-name');
          const cardButton = document.getElementById('card-button');
          const clientSecret = cardButton.dataset.secret;

          cardButton.addEventListener('click', async (event) => {
            event.preventDefault();
            try {
              const result = await stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                  card: card,
                  billing_details: { name: cardholderName.value },
                }
              });
              if (result.error) {
                document.getElementById('card-errors').textContent = result.error.message;
                return false;
              } else {
                document.getElementById('card').submit();
              }
            } catch (err) {
              document.getElementById('card-errors').textContent = err.message;
              return false;
            }
          });
        });


    })


  </script>
	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

	{{#each js}}
	<script src="/js/{{this}}"></script>
	{{/each}}
</body>

</html>